/* Global css */

:root {
    --main-red: rgba(211,9,19);
    --main-dark: rgba(20,20,20);
    --main-deep-dark: rgba(0,0,0);
    --main-grey: rgba(153,153,153);
    --main-red-hover: #e50914;
}

* {
    box-sizing: border-box;
}

/* header container */

.header.containers {
    z-index: 0;
}

.navbar-link {
    z-index:999;
}