.main-login-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url('https://cdn.pixabay.com/photo/2019/02/17/03/17/sunset-4001481_960_720.jpg') no-repeat;
    background-size: 100% 35% ;
    font-family: "Jura", sans-serif;
}
@media(min-width: 500px) {
    .main-login-container {
        background-size: 100%;
    }
}
.main-login-container::after {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 70px 50px 190px #000, inset -70px -50px -190px;
}

.header-top {
    position: relative;
    height: 10rem;
    z-index: 1;   
}
.stop {
    width: 100%;
    height: 46px;
    background-color: black;
}
@media(min-width:990px) {
    .stop {
        height: 56px;
    }
}